.b{
    border: 1px solid black;
}
.hi20{
    height:20vh;
    background-color: blue;
}
.hi25{
    height:25vh;
}
.hi75{
    height:75vh;
    background-color: blueviolet;
    border: 2px solid chocolate;
}
.hi5{
    height:5vh;
    background-color: aqua;
}
